#border {
  position: absolute;
  width: 1117px;
  height: 476px;
  border: 4px solid white;
  border-radius: 5px; }

#caseContentOuterContainer {
  width: 1093px;
  height: 453px;
  overflow: hidden;
  position: absolute;
  font-size: 0; }

#caseText {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  position: relative;
  font-size: 1rem; }

#caseQuestions {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #48CBCB;
  overflow: hidden;
  position: relative;
  font-size: 1rem; }

body {
  background-color: black;
  width: 100%;
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

.centerBoth {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); }

.centerVertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.centerHorizontal {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

#caseText #caseScrollBar {
  height: 100%;
  position: absolute;
  left: 0;
  width: 30px; }
  #caseText #caseScrollBar ul {
    padding-left: 10px; }
    #caseText #caseScrollBar ul .slideCircle {
      padding-top: 5px;
      padding-bottom: 5px;
      list-style: none;
      width: 15px; }
      #caseText #caseScrollBar ul .slideCircle .unactive {
        fill: none;
        stroke-width: 3;
        stroke-miterlimit: 10; }
        #caseText #caseScrollBar ul .slideCircle .unactive.hideSlideCircle {
          stroke: transparent; }
        #caseText #caseScrollBar ul .slideCircle .unactive.showSlideCircle {
          stroke: #02696D; }
      #caseText #caseScrollBar ul .slideCircle .active.hideSlideCircle {
        fill: transparent; }
      #caseText #caseScrollBar ul .slideCircle .active.showSlideCircle {
        fill: #02696D; }
#caseText #caseIcon {
  height: 120px; }
  #caseText #caseIcon #Lemonade {
    padding-top: 15px;
    width: 60px; }
    #caseText #caseIcon #Lemonade .icon {
      fill: #2F3542; }
#caseText #caseTitle {
  overflow: auto; }
  #caseText #caseTitle h1 {
    color: black;
    font-size: 30px;
    margin: 0;
    padding-bottom: 10px;
    height: 100%;
    text-align: center; }
#caseText #caseContentOuter {
  height: 190px;
  overflow: hidden; }
#caseText .caseContentInner {
  width: 100%;
  height: 100%;
  padding: 5px 90px 5px 90px;
  overflow: hidden;
  position: absolute; }
  #caseText .caseContentInner p {
    overflow: hidden;
    height: 100%;
    color: #02696D;
    font-size: 14px; }
  #caseText .caseContentInner.slideOutUpCaseStudyText {
    animation-name: slideOutUpCaseStudyText;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both; }
  #caseText .caseContentInner.slideOutDownCaseStudyText {
    animation-name: slideOutDownCaseStudyText;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both; }
  #caseText .caseContentInner.slideInUpCaseStudyText {
    animation-name: slideInUpCaseStudyText;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both; }
  #caseText .caseContentInner.slideInDownCaseStudyText {
    animation-name: slideInDownCaseStudyText;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both; }
@keyframes slideOutUpCaseStudyText {
  0% {
    top: 0; }
  100% {
    top: -100%; } }
@keyframes slideOutDownCaseStudyText {
  0% {
    top: 0; }
  100% {
    top: 100%; } }
@keyframes slideInUpCaseStudyText {
  0% {
    top: 100%; }
  100% {
    top: 0; } }
@keyframes slideInDownCaseStudyText {
  0% {
    top: -100%; }
  100% {
    top: 0; } }
#caseText #navigationContainer {
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0; }
  #caseText #navigationContainer #upArrowContainer {
    overflow: hidden;
    display: inline-block;
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-100%);
    opacity: 0.2; }
    #caseText #navigationContainer #upArrowContainer #upArrowIcon {
      width: 15px; }
      #caseText #navigationContainer #upArrowContainer #upArrowIcon .upArrowFillOne {
        fill: none;
        stroke: #02686E;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      #caseText #navigationContainer #upArrowContainer #upArrowIcon .upArrowFillTwo {
        fill: none;
        stroke: #3CBEB7;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
  #caseText #navigationContainer #downArrowContainer {
    overflow: hidden;
    display: inline-block;
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-100%); }
    #caseText #navigationContainer #downArrowContainer #downArrowIcon {
      width: 15px; }
      #caseText #navigationContainer #downArrowContainer #downArrowIcon .downArrowFillOne {
        fill: none;
        stroke: #02686E;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      #caseText #navigationContainer #downArrowContainer #downArrowIcon .downArrowFillTwo {
        fill: none;
        stroke: #3CBEB7;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }

#caseQuestions #absoluteContainer {
  position: absolute;
  width: 546.5px;
  height: 100%;
  right: 0; }
#caseQuestions #changingQuestionResponseOuter {
  position: absolute;
  width: calc(100% - 180px);
  height: 275px;
  transform: translateX(90px) translateY(70px);
  overflow: hidden; }
  #caseQuestions #changingQuestionResponseOuter .changingQuestionResponseInner {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateX(10px) translateY(10px); }
    #caseQuestions #changingQuestionResponseOuter .changingQuestionResponseInner #caseQuestionText {
      padding-bottom: 10px;
      width: 100%; }
      #caseQuestions #changingQuestionResponseOuter .changingQuestionResponseInner #caseQuestionText p {
        font-size: 14px;
        color: white; }
    #caseQuestions #changingQuestionResponseOuter .changingQuestionResponseInner #answerContainer {
      height: 50%;
      width: 100%; }
      #caseQuestions #changingQuestionResponseOuter .changingQuestionResponseInner #answerContainer p {
        width: 100%;
        height: 100%;
        padding: 10px 0px 10px 0px;
        border-radius: 15px;
        opacity: 0.8;
        background-color: white; }
        #caseQuestions #changingQuestionResponseOuter .changingQuestionResponseInner #answerContainer p textarea {
          padding: 0px 15px 0px 15px;
          text-align: left;
          resize: none;
          outline: none;
          width: 100%;
          height: 100%; }
    #caseQuestions #changingQuestionResponseOuter .changingQuestionResponseInner.slideLeftOutCaseQuestion {
      animation-name: slideLeftOutCaseQuestion;
      animation-duration: 0.25s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both; }
    #caseQuestions #changingQuestionResponseOuter .changingQuestionResponseInner.slideRightOutCaseQuestion {
      animation-name: slideRightOutCaseQuestion;
      animation-duration: 0.25s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both; }
    #caseQuestions #changingQuestionResponseOuter .changingQuestionResponseInner.slideLeftInCaseQuestion {
      animation-name: slideLeftInCaseQuestion;
      animation-duration: 0.25s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both; }
    #caseQuestions #changingQuestionResponseOuter .changingQuestionResponseInner.slideRightInCaseQuestion {
      animation-name: slideRightInCaseQuestion;
      animation-duration: 0.25s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: both; }
#caseQuestions #sideBarQuestionIcon {
  position: absolute;
  right: 0;
  top: 50%;
  padding-right: 10px;
  transform: translateY(-50%);
  overflow: auto; }
  #caseQuestions #sideBarQuestionIcon #questionMark {
    width: 15px; }
    #caseQuestions #sideBarQuestionIcon #questionMark .iconFill {
      fill: #FFFFFF; }
    #caseQuestions #sideBarQuestionIcon #questionMark .fadded {
      opacity: 0.8; }
#caseQuestions #bottomProgressBarDots {
  width: 100%;
  position: absolute;
  height: 100px;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  #caseQuestions #bottomProgressBarDots .questionProgressCircle:first-child {
    padding-left: 50px;
    left: 0; }
  #caseQuestions #bottomProgressBarDots .questionProgressCircle:last-child {
    padding-right: 75px;
    right: 0; }
  #caseQuestions #bottomProgressBarDots .questionProgressCircle #questionProgressCircleIcon {
    width: 25px;
    position: absolute;
    z-index: 2; }
    #caseQuestions #bottomProgressBarDots .questionProgressCircle #questionProgressCircleIcon .outer.active {
      fill: none;
      stroke: #FFFFFF;
      stroke-width: 3;
      stroke-miterlimit: 10; }
    #caseQuestions #bottomProgressBarDots .questionProgressCircle #questionProgressCircleIcon .outer.hidden {
      stroke: transparent; }
    #caseQuestions #bottomProgressBarDots .questionProgressCircle #questionProgressCircleIcon .inner {
      fill: #FFFFFF; }
#caseQuestions #bottomProgressBarLines {
  width: calc(100% - 125px);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 100px;
  bottom: 0;
  display: flex; }
  #caseQuestions #bottomProgressBarLines .progressLine {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
    height: 3px;
    border-radius: 10px;
    background-color: white;
    top: 10px;
    z-index: 0; }

@keyframes slideLeftOutCaseQuestion {
  0% {
    left: 0; }
  100% {
    left: -100%; } }
@keyframes slideRightOutCaseQuestion {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
@keyframes slideLeftInCaseQuestion {
  0% {
    left: 100%; }
  100% {
    left: 0; } }
@keyframes slideRightInCaseQuestion {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
.caseTextExpandAnimation {
  animation-name: caseTextExpand;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both; }

.caseQuestionExpandAnimation {
  animation-name: caseQuestionExpand;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both; }

.caseTextContractAnimation {
  animation-name: caseTextContract;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both; }

.caseQuestionContractAnimation {
  animation-name: caseQuestionContract;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both; }

@keyframes caseTextExpand {
  0% {
    width: 50%; }
  100% {
    width: 96%; } }
@keyframes caseTextContract {
  0% {
    width: 96%; }
  100% {
    width: 50%; } }
@keyframes caseQuestionExpand {
  0% {
    width: 4%; }
  100% {
    width: 50%; } }
@keyframes caseQuestionContract {
  0% {
    width: 50%; }
  100% {
    width: 4%; } }

/*# sourceMappingURL=main.css.map */
